.Grid {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.Grid > .Row {
    display: flex;
    flex-direction: row;
}

.Row > span.Square {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.Row.OddRow > span.Square:nth-child(odd) {
    background-color: #eee;
}

.Row.EvenRow > span.Square:nth-child(even) {
    background-color: #eee;
}

.Row > span.Square.SnakeSquare {
    background-color: #000;
}
